# dependencies
node_modules/
BackEnd/node_modules/

# environment variables
.env

# firebase / secrets
BackEnd/*.json
BackEnd/*.key

# OS junk
.DS_Store
Thumbs.db

# Firebase configs
BackEnd/public/js/firebase.js
BackEnd/public/js/frontfirebase.js