/* VIEW ORDER */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#222;
}

/* Container */

.order-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/* HEADER */

.order-header{
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px;
    background:#fff;
    position:sticky;
    top:0;
    z-index:100;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.order-header h5{
    font-size:22px;
    font-weight:600;
}

.back-btn{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#f2f2f2;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

.back-btn i{
    font-size:28px;
    color:#333;
}

/* ORDER LIST */

.order-list{
    flex:1;
    padding:15px;
    overflow-y:auto;
}

/* CARD */

.order-item{
    display:flex;
    align-items:center;
    gap:15px;
    background:#fff;
    border-radius:15px;
    padding:12px;
    margin-bottom:15px;
    box-shadow:0 3px 12px rgba(0,0,0,.06);
}

.order-image{
    width:75px;
    height:75px;
    object-fit:cover;
    border-radius:12px;
    background:#eee;
}

.order-info{
    flex:1;
}

.order-info small{
    color:#999;
}

.order-info h6{
    margin:5px 0;
    font-size:18px;
    font-weight:600;
}

.order-info p{
    color:#777;
    font-size:14px;
    margin-bottom:4px;
}

.order-info span{
    color:#444;
    font-size:14px;
}

.order-price{
    font-size:20px;
    font-weight:bold;
    color:#000;
}

/* SUMMARY */

.summary-card{

    background:#fff;

    padding:20px;

    border-radius:25px 25px 0 0;

    box-shadow:0 -4px 15px rgba(0,0,0,.10);

}

.summary-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.summary-top h5{

    font-size:28px;

    font-weight:bold;

}

.summary-top p{

    color:#777;

}

/* PAYMENT */

.payment-method{

    display:flex;

    gap:10px;

    margin:15px 0 25px;

}

.payment-btn{

    flex:1;

    height:55px;

    border:none;

    border-radius:12px;

    background:#f3f3f3;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    transition:.3s;

}

.payment-btn.active{

    background:#2196f3;

    color:#fff;

}

/* CHECKOUT */

.checkout-btn{

    width:100%;

    height:58px;

    border:none;

    border-radius:15px;

    background:#2196f3;

    color:#fff;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.checkout-btn:hover{

    background:#1976d2;

}

/*  MOBILE */

@media(max-width:768px){

    .order-header h5{

        font-size:20px;

    }

    .order-item{

        gap:10px;

    }

    .order-image{

        width:65px;

        height:65px;

    }

    .summary-top h5{

        font-size:24px;

    }

}

.qty-control{
    display:flex;
    align-items:center;
    gap:10px;
    margin-right:15px;
}

.qty-control button{
    width:32px;
    height:32px;
    border:none;
    border-radius:50%;
    background-color: #1976d2;
    color:#fff;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

.qty-control button i{
    font-size:18px;
}

.qty{
    min-width:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}